@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 219, 210, 195;
  --background-start-rgb: 19, 19, 19;
  --background-end-rgb: 19, 19, 19;
}
.border-bottom-image {
  border-bottom: 16px;
  border-style: solid;
  border-image: url('/custom-border.png') 30 round;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scrollbar-pill {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 253, 231, 1) transparent;
}

.scrollbar-pill::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

.scrollbar-pill::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 9999px;
}

.scrollbar-pill::-webkit-scrollbar-thumb {
  background-color: rgba(255, 253, 231, 1);
  border-radius: 9999px;
  border: 4px solid transparent;
  background-clip: padding-box;
}

.scrollbar-pill::-webkit-scrollbar-button {
  display: none;
}


