@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 219, 210, 195;
    --background-start-rgb: 19, 19, 19;
    --background-end-rgb: 19, 19, 19;
    --gold-rgb: 201, 168, 102;
    --legendary-rgb: 255, 128, 0;
    --rare-rgb: 0, 112, 255;
    --epic-rgb: 163, 53, 238;
    --common-rgb: 255, 255, 255;
    --uncommon-rgb: 0, 255, 0;
    --poor-rgb: 128, 128, 128;
    --relic-rgb: 229, 204, 128;
    --pink-rgb: 226, 104, 168;
    --moss-rgb: 62, 92, 79;
    --wood-rgb: 66, 59, 53;
}

body > div[data-overlay-container="true"]:first-of-type {
    height: 100%;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.bg-content1 {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--wood-rgb));
}


.blink {
    animation: blink 2s linear infinite;
}

.border-bottom-image {
    border-bottom: 16px;
    border-style: solid;
    border-image: url('/custom-border.png') 30 round;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    ) rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@keyframes glow {
    0%, 100% {
        box-shadow: 0 0 10px #c9a866, 0 0 20px #c9a866;
    }
    5% {
        box-shadow: 2px 2px 12px #c9a866, -2px -2px 22px #c9a866;
    }
    10% {
        box-shadow: -2px -2px 14px #c9a866, 2px 2px 24px #c9a866;
    }
    15% {
        box-shadow: 4px 4px 16px #c9a866, -4px -4px 26px #c9a866;
    }
    20% {
        box-shadow: -4px -4px 18px #c9a866, 4px 4px 28px #c9a866;
    }
    25% {
        box-shadow: 6px 6px 20px #c9a866, -6px -6px 30px #c9a866;
    }
    30% {
        box-shadow: -6px -6px 22px #c9a866, 6px 6px 32px #c9a866;
    }
    35% {
        box-shadow: 8px 8px 24px #c9a866, -8px -8px 34px #c9a866;
    }
    40% {
        box-shadow: -8px -8px 26px #c9a866, 8px 8px 36px #c9a866;
    }
    45% {
        box-shadow: 10px 10px 28px #c9a866, -10px -10px 38px #c9a866;
    }
    50% {
        box-shadow: -10px -10px 30px #c9a866, 10px 10px 40px #c9a866;
    }
    55% {
        box-shadow: 12px 12px 32px #c9a866, -12px -12px 42px #c9a866;
    }
    60% {
        box-shadow: -12px -12px 34px #c9a866, 12px 12px 44px #c9a866;
    }
    65% {
        box-shadow: 14px 14px 36px #c9a866, -14px -14px 46px #c9a866;
    }
    70% {
        box-shadow: -14px -14px 38px #c9a866, 14px 14px 48px #c9a866;
    }
    75% {
        box-shadow: 16px 16px 40px #c9a866, -16px -16px 50px #c9a866;
    }
    80% {
        box-shadow: -16px -16px 42px #c9a866, 16px 16px 52px #c9a866;
    }
    85% {
        box-shadow: 18px 18px 44px #c9a866, -18px -18px 54px #c9a866;
    }
    90% {
        box-shadow: -18px -18px 46px #c9a866, 18px 18px 56px #c9a866;
    }
    95% {
        box-shadow: 20px 20px 48px #c9a866, -20px -20px 58px #c9a866;
    }
}

@keyframes border-blink {
    0%, 100% {
        /*transparent*/
        border-color: transparent;
    }
    50% {
        border-color: rgb(var(--gold-rgb));
    }
}

.animate-blink-and-glow {
    animation: border-blink 2s infinite alternate ease-in-out, glow 65s infinite alternate ease-in-out;
}

.glow-animation {
    animation: glow 65s infinite alternate ease-in-out;
}

.border-blink {
    animation: border-blink 2s infinite alternate ease-in-out;
}

.scrollbar-pill {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 253, 231, 1) transparent;
}

.scrollbar-pill::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

.scrollbar-pill::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 9999px;
}

.scrollbar-pill::-webkit-scrollbar-thumb {
    background-color: rgba(255, 253, 231, 1);
    border-radius: 9999px;
    border: 4px solid transparent;
    background-clip: padding-box;
}

.scrollbar-pill::-webkit-scrollbar-button {
    display: none;
}

.card {
    transition: transform 0.8s;
    transform-style: preserve-3d;
    position: relative;
    perspective: 1000px;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.card-back {
    transform: rotateY(180deg);
}

.text-gold {
    color: rgb(var(--gold-rgb));
}

.text-legendary {
    color: rgb(var(--legendary-rgb));
}

.text-rare {
    color: rgb(var(--rare-rgb));
}

.text-epic {
    color: rgb(var(--epic-rgb));
}

.text-common {
    color: rgb(var(--common-rgb));
}

.text-uncommon {
    color: rgb(var(--uncommon-rgb));
}

.text-relic {
    color: rgb(var(--relic-rgb));
}

.text-pink {
    color: rgb(var(--pink-rgb));
}

.border-gold {
    border-color: rgb(var(--gold-rgb));
}

.border-legendary {
    border-color: rgb(var(--legendary-rgb));
}

.border-rare {
    border-color: rgb(var(--rare-rgb));
}

.border-epic {
    border-color: rgb(var(--epic-rgb));
}

.border-common {
    border-color: rgb(var(--common-rgb));
}

.border-uncommon {
    border-color: rgb(var(--uncommon-rgb));
}

.border-relic {
    border-color: rgb(var(--relic-rgb));
}

.border-pink {
    border-color: rgb(var(--pink-rgb));
}

.border-gold {
    border-color: rgb(var(--gold-rgb));
}

th.bg-default-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--moss-rgb));
}

th.text-foreground-500 {
    color: rgb(var(--gold-rgb));
}

.bg-rare {
    background-color: rgb(var(--rare-rgb));
}

.bg-epic {
    background-color: rgb(var(--epic-rgb));
}

.bg-common {
    background-color: rgb(var(--common-rgb));
}

.bg-uncommon {
    background-color: rgb(var(--uncommon-rgb));
}

.bg-relic {
    background-color: rgb(var(--relic-rgb));
}

.bg-pink {
    background-color: rgb(var(--pink-rgb));
}

.bg-gold {
    background-color: rgb(var(--gold-rgb));
}

.bg-legendary {
    background-color: rgb(var(--legendary-rgb));
}

.bg-moss {
    background-color: rgb(var(--moss-rgb));
}

.bg-gradient-legendary {
    background: linear-gradient(to bottom, rgb(204, 102, 0) 0%, rgb(255, 128, 0) 100%);
}

.bg-gradient-rare {
    background: linear-gradient(to bottom, rgb(0, 90, 204) 0%, rgb(0, 112, 255) 100%);
}

.bg-gradient-epic {
    background: linear-gradient(to bottom, rgb(131, 42, 191) 0%, rgb(163, 53, 238) 100%);
}

.bg-gradient-common {
    background: linear-gradient(to bottom, rgb(230, 230, 230) 0%, rgb(255, 255, 255) 100%);
}

.bg-gradient-uncommon {
    background: linear-gradient(to bottom, rgb(0, 178, 0) 0%, rgb(2, 162, 2) 100%);
}

.bg-gradient-poor {
    background: linear-gradient(to bottom, rgb(102, 102, 102) 0%, rgb(128, 128, 128) 100%);
}

.shadow-gold {
    --tw-shadow: 0 0 10px rgb(var(--gold-rgb)), 0 0 20px rgb(var(--gold-rgb));
}

.shadow-legendary {
    --tw-shadow: 0 0 10px rgb(var(--legendary-rgb)), 0 0 20px rgb(var(--legendary-rgb));
}

.shadow-rare {
    --tw-shadow: 0 0 10px rgb(var(--rare-rgb)), 0 0 20px rgb(var(--rare-rgb));
}

.shadow-epic {
    --tw-shadow: 0 0 10px rgb(var(--epic-rgb)), 0 0 20px rgb(var(--epic-rgb));
}

.shadow-common {
    --tw-shadow: 0 0 10px rgb(var(--common-rgb)), 0 0 20px rgb(var(--common-rgb));
}

.shadow-uncommon {
    --tw-shadow: 0 0 10px rgb(var(--uncommon-rgb)), 0 0 20px rgb(var(--uncommon-rgb));
}




